*{ padding: 0; margin: 0; }
html, body { 
	height: 100%;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

#wrapper{
	min-height:600px;
	background-color:#998B00;
}

#logoDiv{
	height:60px;
	background-color: #fff;
	border-bottom-style: solid;
	border-width:5px;
	border-color:#192328;
}

#logoDiv img{
	padding-top: 14px;
	padding-left:14px;
}

#logoDiv h1{
	font-weight:normal;
	font-variant:small-caps;
	color:#4D636F;
	font-size:220%;
}

#navRow{
	position:relative;
	height:70px;
	width:100%;
	background-image:url('/images/books.jpg');
	background-repeat: repeat-x;
	border-bottom-style:solid;
	border-color:#fff;
	border-width:2px;
}

#fillerCell{
	position:absolute;
	height:70px;
	width:40px;
	border-right-style:solid;
	border-color:#fff;
	border-width:2px;
}

#nav{
	position:relative;
	left:auto;
	bottom:-30px;
	height:38px;
	margin-left:42px;
	width:auto;
	border-top-style:solid;
	border-bottom-style:solid;
	border-color:#fff;
	border-width:2px;
	background-color:#6D8D9E;
}

#mainDiv{
	min-height:463px;
	background-color:#fff;
	height:100%;
	border-left-style:solid;
	border-bottom-style:solid;
	border-color:#fff #e9c8a6;
	border-width:2px 40px;	
}

#subnavCol{
	min-height:463px;
	position:absolute;
	width:200px;
	background-color: #da9552;
	border-right-style:solid;
	border-bottom-style:solid;
	border-color:#fff;
	border-width:2px;
	list-style:square;
}

#subnavCol h3{
	margin-top:20px;
	margin-left:25px;
	color:#fff;
	font-variant:small-caps;
	font-size:90%;
}
#subnavCol ul{
	color: #fff;
	list-style:square;
	margin-top:5px;
	margin-left:37px;
	font-size:75%;
}
#subnavCol a{
	color: #fff;
	text-decoration:none;
}
#subnavCol a:hover{
	text-decoration:underline;
}

#mainCol{
	background-color:#fff;
	position:relative;
	left:auto;
	width:auto;
	min-height:463px;
}

#bodyText{
	padding-left:10px;
	padding-top:10px;
}

#bodyText h1, h2{
	font-variant: small-caps;
	font-weight:normal;
	margin-bottom:5px;
}

#bodyText p{
	font-size:13px;
	padding:2px;
}

#bodyText a{
	text-decoration:none;
	color:#20323b;
}
#bodyText a:hover{
	text-decoration:none;
	color:#da9552;
}

#bodyTextFooter{
	clear:both;
	border-left-style:solid;
	border-color:#e9c8a6;
	border-width:40px;	
}
#bodyTextFooterLeft{
	font-size:14px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	padding-bottom:10px;
}
#bodyTextFooterRight{
	font-size:14px;
	float:right;
	margin-right:10px;
	margin-top:10px;
	padding-bottom:10px;
}

#footer{
	clear:both;
	width:100%;
	min-width:100%;
	height:40px;
	border-top-style: solid;
	border-width:5px;
	border-color:#192328;	
}

#footerTextLeft{
	float: left;
	padding: 14px;
	font-size: 10px;
}
#footerTextRight{
	float: right;
	padding: 14px;
	font-size: 10px;
}
#footerTextRight a{
	text-decoration: none;
	color:#da9552;
}
#footerTextRight a:hover {
	color:#fff;
}
.link-header{
	background-color:#192328;
	padding: 0px !important;
	text-decoration: none !important;
	margin: 0px !important;
	width: auto !important;
}
.link-header a, a:hover;{
	color:#da9552 !important;
}
.dropdown {
	height:40px;
	padding-top: 4px;
	padding-left:5px;
	float:left;
	font-size: 12px;
}
.dropdown dt {
	margin-right: 20px;
	padding:8px;
	margin-bottom: 3px;
	background-color:#6D8D9E;
	color: #fff;
}
.dropdown dd {
	position:absolute;
	overflow:hidden;
	width:150px;
	display:none;
	background:#fff;
	z-index:200;
	opacity:0.25;
}
.dropdown ul {
	width:150px;
	list-style:none; 
}
.dropdown li {display:inline}
.dropdown a {
	display:block; 
	padding:5px; 
	color:#fff; 
	text-decoration:none; 
	background:#6D8D9E;
	width:150px
}
.dropdown a:hover {
	text-decoration:underline;
	color:#d49748;
}



/*================ for tables ======================*/
#tableDiv{margin:0 auto;width:90%;margin-bottom:5px;}
#tableDiv h1{padding:10px 0pt 25px 0;}
#tableDiv label+input{width:49.3%;}
#tableDiv h1 {padding-bottom:15px;font-size:150%;}
.adminCol {width: 50px;} 

table,td{font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif;}
table{width:100%; border-collapse:collapse; margin:0; float:inherit;}
th,td{text-align:left; padding:.5em; border:1px solid #fff;}
th{background:#595646;color:#fff;text-transform:capitalize;}
td{background:#dfdac7;}
th:first-child,td:first-child{padding-left:20px;}


/*================'new' form stuff======================*/
form,form div{margin:0;padding:0;position:relative;width:100%;overflow:hidden;}
fieldset{border:none;margin:0;padding:0;}
fieldset legend{margin:0;padding:0;}

#newForm{margin:0 auto;width:90%;}
#newForm h1{padding-top:25px;}
#newForm label+input{width:49.3%;}
#newForm ul{font-size: 20px; line-height: 24px; list-style: none; margin: 10px 0px;}
#newForm li{}

#addTime select{float:right;width:49.3%;clear:right;margin:3px 19px 0 0;}
#addDate select{float:right;clear:right;margin:3px 19px 0 0;}

#errorExplanation{width:400px;border:2px solid red;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;}
#errorExplanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;background-color:#c00;color:#fff;}
#errorExplanation p{color:#333;margin-bottom:0;padding:5px;}
#errorExplanation ul li{font-size:12px;list-style-type:none;}

fieldset{margin:1em 0;border-bottom:1px solid #d9d7ac;border-top:1px solid #d9d7ac;margin-top:0px;}
fieldset legend{font-size:150%;font-family:inherit;color:#14212b;}

.ctrlHolder{overflow:hidden;margin:0;padding:0;clear:both;display:block;}
.ctrlHolder{padding:7px;}
.ctrlHolder label{font-variant:small-caps;}

.buttonHolder{text-align:right;}
.buttonHolder input{margin:10px 10px 0 0;}
.buttonHolder{overflow:hidden;clear:both;}
.buttonHolder{padding-right:5px;padding-bottom:5px;}

.form-button {float:right;margin:0 16px;}
.resetButton{}
.submitButton{}

/* ########################################################################## */
/* Styles for form controls where labels are in line with the input elements */
/* Set the class of the parent (preferably to a fieldset) to .inlineLabels */
/* .inlineLabels */
.inlineLabels label,.inlineLabels .label{width:45%;} /* Required property */
.inlineLabels .textInput,.inlineLabels .fileUpload .fileField{width:45%;} /* Required property */
.inlineLabels .selectInput{width:45%;} /* Required property */
.inlineLabels textarea{width:49.3%;height:12em;} /* Required property */
.inlineLabels .ctrlHolder{}
.inlineLabels label,.inlineLabels .label{float:left;margin:.3em 2% 0 0;padding:0;line-height:100%;position:relative;}
.inlineLabels .textInput,.inlineLabels .fileUpload{float:left;}
.inlineLabels .fileUpload{}
.inlineLabels .selectInput{float:left;}
.inlineLabels textarea{float:left;}
.inlineLabels .formHint{clear:both;}
.inlineLabels .formHint strong{}
.inlineLabel,.inlineLabels .inlineLabel,.blockLabels .inlineLabel{width:auto;float:none;margin:0 1em 0 0;display:inline;}
.inlineLabel input{width:100%;}


/* login */
input#login-submit {margin-left:533px;}
fieldset.login {padding: 15px 0;}
#newForm h1 {padding-bottom:15px;}

#flash {border:1px solid green;width:650px;background-color:#3c3;margin:15px auto;height:40px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;}
#flash h3 {color:#fff;padding: 11px;}


/* Messages */
#errorMsg{background:#ffdfdf;border:1px solid #df7d7d;border-width:1px 0;margin:0 0 1em 0;padding:1em;}
.error{background:#ffdfdf;border:1px solid #df7d7d;border-width:1px 0;}
#errorMsg dt,#errorMsg h3{margin:0 0 .5em 0;font-size:110%;line-height:100%;font-weight:bold;}
#errorMsg dd{margin:0;padding:0;}
#errorMsg ol{margin:0;padding:0;}
#errorMsg ol li{margin:0;padding:2px;list-style-position:inside;border-bottom:1px dotted #df7d7d;position:relative;}
#errorField{color:#af4c4c;margin:0 0 6px 0;padding:4px;background:#ffbfbf;}

