/*

K&H COLOUR SCHEME by Jillian Kozyra
Light Cyan Background: #d5edf4
Dark Red Lettering: #990000
Dark tan: #595646
Light tan: #dfdac7

*/


*{ padding: 0; margin: 0; }
html, body { height: 100%; }
* html #container { height: 100%; }
body{background-color:#4B730D;}
body,p,ol,td{font-size:14px; line-height:18px;}
body { font-family: Georgia, "Times New Roman", serif; margin: 0 auto;}
h1{font-size:2em;color:#990000;padding:15px;clear:left;font-variant:small-caps;}
h2,h3,h4{color:#cc3300;}
h1+a{margin:10px 0 10px 25px !important;background-color:inherit !important;font-variant:small-caps;}
pre{background-color:#eee;padding:10px;font-size:11px;}
a {text-decoration: none; color: #2c7c9f;}
a:visited {color: #244a58;}
a:hover{color:#4083cf;}
.fieldWithErrors{padding:1px;background-color:red;display:table;}
img {border-style: none;}

#titleContainer{margin: 0px auto; width: 650px; padding-top: 15px; margin-bottom: 30px;}
#titleContainer a{}

#homepageContainer { min-height: 550px; background-color: #fff; width: 900px; margin: 20px auto; padding: 10px;}
#homepageContainer { border-style: none; border-width: 5px; border-color: #000; font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;}

#container { min-height: 80%; background-color: #fff; width: 630px; margin: 0px auto 0px auto;}
#container { border-style: solid; border-width: 0px 1px 0px 1px; border-color: #595646;}

#mainText{margin: 10px 30px; padding-top: 10px;}
#mainText p{font-size: 14px; line-height:20px;}
#mainText a{font-size: 14px; line-height:20px;}
#mainText ul{list-style: lower-roman; margin-left: 30px; font-size: 14px; line-height:20px;}
#mainText li{padding: 2px 0px; font-size: 14px; line-height:20px;}

.email { font-style: normal !important; font-weight: normal !important; color: #000; text-decoration: underline}
.email a{ font-style: normal; text-decoration: underline}
.email p{ font-style: normal;}
.email a:hover{ color: #000; }

#headlineText{margin: 10px 30px; padding-top: 10px;}
#headlineText p{font-size: 14px; line-height:21px; font-weight: bold; font-style: italic;}
#headlineText a{font-size: 14px; line-height:21px; font-weight: bold; font-style: italic;}
#headlineText ul{list-style: lower-roman; margin-left: 30px; font-weight: bold; font-style: italic;}
#headlineText li{padding: 4px 0px; font-weight: bold; font-style: italic;}
#headlineText h2{color:#2c7c9f; font-family:"Lucida Grande", sans-serif; font-variant: small-caps; padding-bottom: 5px;}

#titleLinks{position:relative;font-size:120%;font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;}
#titleLinks li{display: inline; font-variant: small-caps;}
#titleLinks ul{margin-left: 5px; display: inline; font-variant: small-caps;}
#titleLinks a:hover{color:#4083cf;}
#titleLinks a {text-decoration: none; color: #990000;}

#attorneyBio{font-style: normal; font-weight: normal; color: #000; margin: 10px 0px;}

#logoDiv{margin: 20% 10%;}
#logoDiv a{font-variant:small-caps; font-size:150%; color:#990000;}
#logoDiv a:hover{color:#c00000;}
#logoDiv a{margin-left: 7px;}

/*================ for tables ======================*/
#tableDiv{margin:0 auto;width:90%;}
#tableDiv h1{padding:10px 0pt 25px 0;}
#tableDiv label+input{width:49.3%;}
#tableDiv h1 {padding-bottom:15px;}
.adminCol {width: 50px} 

table,td{font: 12px Verdana,Geneva,Arial,Helvetica,sans-serif;}
table{width:100%; border-collapse:collapse; margin:0; float:inherit;}
th,td{text-align:left; padding:.5em; border:1px solid #fff;}
th{background:#595646;color:#fff;text-transform:capitalize;}
td{background:#dfdac7;}
th:first-child,td:first-child{padding-left:20px;}


/*================'new' form stuff======================*/
form,form div{margin:0;padding:0;position:relative;width:100%;overflow:hidden;}
fieldset{border:none;margin:0;padding:0;}
fieldset legend{margin:0;padding:0;}

#newForm{margin:0 auto;width:90%;}
#newForm h1{padding:40px 0pt 25px 0;}
#newForm label+input{width:49.3%;}
#addTime select{float:right;width:49.3%;clear:right;margin:3px 19px 0 0;}
#addDate select{float:right;clear:right;margin:3px 19px 0 0;}
#errorExplanation{width:400px;border:2px solid red;padding:7px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;}
#errorExplanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;background-color:#c00;color:#fff;}
#errorExplanation p{color:#333;margin-bottom:0;padding:5px;}
#errorExplanation ul li{font-size:12px;list-style-type:none;}
fieldset{margin:1em 0;border-bottom:1px solid #d9d7ac;border-top:1px solid #d9d7ac;}
fieldset legend{font-size:150%;font-family:inherit;color:#14212b;}
.ctrlHolder{overflow:hidden;margin:0;padding:0;clear:both;display:block;}
.ctrlHolder{padding:7px;}
.ctrlHolder label{font-variant:small-caps;}
.buttonHolder{text-align:right;}
.buttonHolder input{margin:10px 10px 0 0;}
.buttonHolder{overflow:hidden;clear:both;}
.buttonHolder{padding-right:5px;padding-bottom:5px;}
.form-button {float:right;margin:0 16px;}
.resetButton{}
.submitButton{}

/* ########################################################################## */
/* Styles for form controls where labels are in line with the input elements */
/* Set the class of the parent (preferably to a fieldset) to .inlineLabels */
/* .inlineLabels */
.inlineLabels label,.inlineLabels .label{width:45%;} /* Required property */
.inlineLabels .textInput,.inlineLabels .fileUpload{width:45%;} /* Required property */
.inlineLabels .selectInput{width:45%;} /* Required property */
.inlineLabels textarea{width:49.3%;height:12em;} /* Required property */
.inlineLabels .ctrlHolder{}
.inlineLabels label,.inlineLabels .label{float:left;margin:.3em 2% 0 0;padding:0;line-height:100%;position:relative;}
.inlineLabels .textInput,.inlineLabels .fileUpload{float:left;}
.inlineLabels .fileUpload{}
.inlineLabels .selectInput{float:left;}
.inlineLabels textarea{float:left;}
.inlineLabels .formHint{clear:both;}
.inlineLabels .formHint strong{}
.inlineLabel,.inlineLabels .inlineLabel,.blockLabels .inlineLabel{width:auto;float:none;margin:0 1em 0 0;display:inline;}
.inlineLabel input{width:100%;}


/* login */
input#login-submit {margin-left:533px;}
fieldset.login {padding: 15px 0;}
#newForm h1 {padding-bottom:15px;}

#flash {border:1px solid green;width:650px;background-color:#3c3;margin:15px auto;height:40px;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;}
#flash h3 {color:#fff;padding: 11px;}


/* Messages */
#errorMsg{background:#ffdfdf;border:1px solid #df7d7d;border-width:1px 0;margin:0 0 1em 0;padding:1em;}
.error{background:#ffdfdf;border:1px solid #df7d7d;border-width:1px 0;}
#errorMsg dt,#errorMsg h3{margin:0 0 .5em 0;font-size:110%;line-height:100%;font-weight:bold;}
#errorMsg dd{margin:0;padding:0;}
#errorMsg ol{margin:0;padding:0;}
#errorMsg ol li{margin:0;padding:2px;list-style-position:inside;border-bottom:1px dotted #df7d7d;position:relative;}
#errorField{color:#af4c4c;margin:0 0 6px 0;padding:4px;background:#ffbfbf;}









