*{ padding: 0; margin: 0; }
html, body { height: 100%; }
* html #container { height: 100%; }
body{background-color:#B8C2C8;}

#wrapper{
	position: relative;
	height: 563px; 
	background-color: #fff; 
	width: 910px; 
	margin: auto;
	margin-top: 20px;
	background-image:url('/images/shadow.gif');
}
#homepageContainer {
	position: absolute;
	height: 550px; 
	background-color: #fff; 
	width: 897px; 
	margin-left: 0px;
	margin-bottom: -40px; 
}
#homepageContainer { 
	border-style: none; 
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
#shadow{
	position:relative;
	bottom:-552px;
}


#nav{
	background-color:#192328;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #fff;
	border-width: 1px;
	padding-left: 10px;
	height: 40px;
	font-family: Verdana, Verdana, "Geneva", sans-serif;
}
.link-header{
	background-color:#192328;
	padding: 0px !important;
	text-decoration: none !important;
	margin: 0px !important;
	width: auto !important;
}
.link-header a, a:hover;{
	color:#d49748 !important;
}
.dropdown {
	padding-top: 5px;
	float:left;
	font-size: 12px;
}
.dropdown dt {
	margin-right: 20px;
	padding:8px;
	margin-bottom: 3px;
	background-color:#192328;
	color: #fff;
}
.dropdown dd {
	position:absolute;
	overflow:hidden;
	width:150px;
	display:none;
	background:#fff;
	z-index:200;
	opacity:0
}
.dropdown ul {
	width:150px;
	list-style:none; 
}
.dropdown li {display:inline}
.dropdown a {
	display:block; 
	padding:5px; 
	color:#fff; 
	text-decoration:none; 
	background:#192328; 
	width:150px
}
.dropdown a:hover {
	text-decoration:underline;
	color:#d49748;
}


#imageDiv{
	position: relative;
	height: 390px;
}
.imageRow{
	position: relative;
	width: 100%;
	margin-bottom: 1px;
	height: 194px;
}
.imageColLeft{
	float:left;
	margin-right: 1px;
}
.imageColMiddle{
	float:left;
	margin-left: 1px;
	margin-right:1px;
}
.imageColRight{
	float:left;
}


#logoDiv {
/*	font-variant:small-caps; */
	font-size:150%; 
	color:#990000;
	background-color: #6d8d9e;
	padding-left: 20px;
	height: 80px;
}
#logoDiv h1{
	color: #fff;
}
#logoDiv img{
	padding-top: 20px;
}

#footerDiv{
	background-color:#192328;
	height: 40px;
	width: 100%;
	color: #fff;
}
#footerTextLeft{
	float: left;
	padding: 12px;
	font-size: 10px;
}
#footerTextRight{
	float: right;
	padding: 12px;
	font-size: 10px;
}
#footerTextRight a{
	text-decoration: none;
	color:#d49748;
}

