<div id="newForm" >
	
	<h1>kozyrahartz.com Admin</h1>
	
	
	<fieldset class="inlineLabels">
		<ul>
			<li><%= link_to "Manage Attorney Profiles", attorneys_list_url %></li>
			<li><%= link_to "Manage News", news_list_url %></li>
			<li><%= link_to "Manage Users", users_url %></li>
		</ul>
	</fieldset>
	<%= link_to 'Logout', logout_path %>
</div>