<div id="logoDiv" >
	<h1>Kozyra & Hartz, LLC</h1>
</div>
<div id="nav">
	<%= link_to "The Firm", thefirm_url %>
	<%= link_to "Attorneys", attorneys_url %>
	<%= link_to "News", news_entries_url %>
	<%= link_to "Contact", contact_url %>
</div>