<div id="headlineText">
<p>Kozyra & Hartz, LLC provides innovative, creative and practical solutions to our clients’ legal issues.  We work closely with our clients and their representatives to achieve their goals by adapting to changes and meeting challenges.  We gain results by adhering to our firm’s guiding principles:</p>
	<ul>
		<li>secure the best professionals available to address our clients’ needs and maintain skills through on-going legal and business training for all members of the firm</li>
		<li>achieve positive and prompt results on an economic and practical basis; 
		<li>maintain a superior support staff and the necessary technological means to meet clients’ needs.</li>
	</ul><br />
		<p>By following these principles, Kozyra & Hartz, LLC has established and continues the highest level for adding value to the working relationships we have with our clients.</p>
<br />
<p>Kozyra & Hartz, LLC, conveniently located in the heart of Roseland, New Jersey, was founded by attorneys with extensive experience in a wide range of legal subjects: Litigation and Dispute Resolution, Family Law, Corporate, Health Services Practices, White Collar and Municipal Criminal Defense, Real Estate, and Trust and Estates.</p>

</div>
