<h2>Attorneys</h2>
<% @attorneys.each do |attorney| %>
<p>
	<%= link_to attorney.name, attorney %>, 
	<%= attorney.role %>, 
	<%= mail_to attorney.email, attorney.email, :class => 'email' %>
</p>
<% end %>

