<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Kozyra & Hartz, LLC</title>
	<%= stylesheet_link_tag "kh-main" %>
	
</head>

<body>
	<div id="homepageContainer">
		<!-- only render this div if there's something to show -->
		<% if flash[:warning] or flash[:notice] %>
		  <div id="flash">
				<h3><%= flash[:notice] %></h3>
			</div>
		<% end %>
		
		<%= yield %>

	</div>
</body>
</html>