<p>
  <b>Title:</b>
  <%=h @news_entry.title %>
</p>

<p>
  <b>Entry:</b>
  <%=h @news_entry.entry %>
</p>


<%= link_to 'Edit', edit_news_entry_path(@news_entry) %> |
<%= link_to 'Back', news_entries_path %>